<html>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</html>
<body>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <h3>Rick and Morty</h3>

    <a routerLink="/home"> Home </a>
    <a routerLink="/characters"> Characters </a>
    <a routerLink="/about"> About </a>

    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="button">Buscar</button>
    </form>

  </nav>
  <div class="container-xxl">
    <router-outlet></router-outlet>
  </div>
</body>
